<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/poole.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">
  <link rel="stylesheet" href="{{ site.baseurl }}public/css/hyde.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}public/apple-touch-icon-144-precomposed.png">
                                 <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#263959">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#263959">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="#263959">
  <!-- Google Fonts -->
  <!-- <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700|Lato:300,400,700&display=swap" rel="stylesheet"> -->
  
  <!-- Because baseurl is "/", take off the / from the two hrefs below -->
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{ "assets/fonts/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
  <!-- Styles from Flexible - Makes a white/greyish sidebar --> 
  <!-- <link rel="stylesheet" href="{{ "assets/css/main.css" | prepend: site.baseurl }}"> -->
</head>
