---
layout: default
---

<aside class="sidebar">
  <!-- <div class="container sidebar-sticky"> -->
  <header>  
    <div class="sidebar-about">
      <div class="cover-author-image">
        <a href="/index.html">
          <img src="/images/profile_3.jpg">
        </a>
      </div>
      
      <h1>
        <a href="/index.html">
          {{ site.author.name }}
        </a>
      </h1>
      
      <p class="lead">
      {{ site.author.bio }}.
      <br/> 
      {{ site.author.employer }}.
      <!-- {{ site.author.location }} -->

      <!-- {{ site.author.description }} -->
      </p>

    </div> 
  </header>

    <nav class="sidebar-nav">

      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/index.html">Home</a>

<!--       <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">About Me \& CV</a>
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Publications</a>
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Talks</a>
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Teaching</a>
 -->
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      <!-- {% assign pages_list = site._pages-test %} -->
      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <!-- <a class="sidebar-nav-item" href="{{ baseurl/About }}">About 2</a> -->

<!--       <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
 -->
      <!-- <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->

    </nav>

    <footer>
      <section class="contact">
        <h3 class="contact-title"> Profiles </h3> 
        <ul>
         
            <li class="github"><a href="http://github.com/harrisq" target="_blank"><i class="fa fa-github"></i></i></a></li>  

            <li class="linkedin"><a href="https://in.linkedin.com/in/harrisquach/" target="_blank"><i class="fa fa-linkedin"></i></a></li>

          <!-- {% if site.email %}
            <li class="email"><a href="mailto:{{site.email}}"><i class="fab fa-envelope-o"></i></a></li>
          {% else %}
            <li class="email"><a href="mailto:example.david@blog.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
          {% endif %} -->
        </ul>
      </section> <!-- End Section Contact -->

      <div class="copyright">
        <p>&copy; {{site.time | date: '%Y'}} {{site.name}}. All rights reserved.</p>
        <!-- <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p> -->
      </div>
    </footer> <!-- End Footer -->


    <!-- <p>&copy; {{site.time | date: '%Y' }}. All rights reserved.</p>  -->
  <!-- </div> -->
</aside>
