{% assign navigation = site.navigation[include.nav] %}

<aside class="sidebar">
  <!-- <div class="container sidebar-sticky"> -->
  <header>  
    <div class="sidebar-about">
      <div class="cover-author-image">
        <a href="{{ site.url }}">
          <img src="/images/profile_4_2.jpg">
        </a>
      </div>
      
      <h1>
        <a href="{{ site.url }}">
          {{ site.author.name }}
        </a>
      </h1>
      
      <p class="lead">
      {{ site.author.bio }}.
      <br/> 
      {{ site.author.employer }}.
      <!-- {{ site.author.location }} -->

      <!-- {{ site.author.description }} -->
      </p>

    </div> 
  </header>

    
    <nav class="nav__list">
    <!-- {% if page.sidebar.title %}<h3 class="nav__title" style="padding-left: 0;">{{ page.sidebar.title }}</h3>{% endif %} -->
    <!-- <input id="ac-toc" name="accordion-toc" type="checkbox" /> -->
    <!-- <label for="ac-toc">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle Menu" }}</label> -->
    <ul class="nav__items">
      {% for nav in navigation %} <!-- Navi Tabs -->
        <li>
          {% if nav.url %}
            <a href="{{ nav.url | relative_url }}"><span class="nav__sub-title">{{ nav.title }}</span></a>
          {% else %}
            <span class="nav__sub-title">{{ nav.title }}</span>
          {% endif %}

          {% if nav.children != null %} <!-- Nest Nav Tab -->
          <ul>
            {% for child in nav.children %}
              <li><a href="{{ child.url | relative_url }}"{% if child.url == page.url %} class="active"{% endif %}>{{ child.title }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    </nav>

    <nav class="sidebar-nav">
      <ul class="nav__items">
      {% for nav in navigation %}
        <li>
          {% if nav.url %}
            <a href="{{ nav.url | relative_url }}"><span class="nav__sub-title">{{ nav.title }}</span></a>
          {% else %}
            <span class="nav__sub-title">{{ nav.title }}</span>
          {% endif %}

          {% if nav.children != null %}
          <ul>
            {% for child in nav.children %}
              <li><a href="{{ child.url | relative_url }}"{% if child.url == page.url %} class="active"{% endif %}>{{ child.title }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
      {% endfor %}
      </ul>

      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.url }}">Home</a>
      {% comment %}
        can use "/index.html" instead of
      {% endcomment %}
      <!-- <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">About Me \& CV</a> -->
      <a class="sidebar-nav-item{% if page.url == /Publications.html %} active{% endif %}" href="/Publications.html">Research</a>
      <a class="sidebar-nav-item{% if page.url == /Software_Code.html %} active{% endif %}" href="/Software_Code.html">Software + Code</a>
      <!-- <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Teaching</a> -->
 
      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

     
      <!-- {% assign pages_list = site.pages %} -->
      {% assign pages_list = site.navigation.main %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
     

	  <!-- Link to Table of Jobs -->
      <a class="sidebar-nav-item active" href="https://harrisq.shinyapps.io/stat_jobs/">Stats Jobs</a>

      <!-- <a class="sidebar-nav-item" href="{{ baseurl/About }}">About 2</a> -->

<!--       <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
 -->
      <!-- <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->

    </nav>

    <footer>
      <section class="contact">
        <h3 class="contact-title"> Profiles </h3> 
        <ul>

            <li><a href="https://scholar.google.com/citations?user=2hH69DkAAAAJ&hl=en" target="_blank"><i class="ai ai-google-scholar"></i></a></li>

            <!-- <li><a href="https://scholar.google.com/citations?user=2hH69DkAAAAJ&hl=en" target="_blank"><i class="ai ai-google-scholar-square"></i></a></li>   -->

            <li class="github"><a href="{{ site.repository }}" target="_blank"><i class="fa fa-github"></i></a></li>  
            <!-- http://github.com/harrisq -->

            <li class="linkedin"><a href="https://in.linkedin.com/in/harrisquach/" target="_blank"><i class="fa fa-linkedin"></i></a></li>

          <!-- {% if site.email %}
            <li class="email"><a href="mailto:{{site.email}}"><i class="fab fa-envelope-o"></i></a></li>
          {% else %}
            <li class="email"><a href="mailto:example.david@blog.com"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
          {% endif %} -->
        </ul>
      </section> <!-- End Section Contact -->

      <div class="copyright">
        <p>&copy; {{site.time | date: '%Y'}} {{site.name}}. All rights reserved.</p>
        <!-- <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p> -->
      </div>
    </footer> <!-- End Footer -->


    <!-- <p>&copy; {{site.time | date: '%Y' }}. All rights reserved.</p>  -->
  <!-- </div> -->
</aside>
